<div class="container-fluid">
    <div class="row-fluid">  
        <h3 class="page-title">
            Trazas <small>| Seguridad</small>
        </h3>
    </div>
        
    <div class="row-fluid" id="admin-trace-list">
        {% include 'AdminBundle:Trace:list.html.twig' %}
    </div>
</div>
