{# empty Twig template #}
<div class="page-footer">
    <div class="page-footer-inner">
         {{ 'now' | date('Y') }} &copy; Manage.
    </div>
    <div class="page-footer-tools">
        <span class="go-top">
        <i class="fa fa-angle-up"></i>
        </span>
    </div>
</div>
