{% extends 'AdminBundle::frame.html.twig' %}
{% block title%} Reception{% endblock %}    
{% block body %}
        <div class="row">
            <div class="col-md-12 page-404">
                <div class="number">
                    403
                </div>
                <div class="details">
                    <h3>You don't have permission.</h3>
                    <p>
                        You cant see the content of this page.<br/>
                        <a href="{{path('home')}}">
                            Return home </a>
                    </p>
                </div>
            </div>
        </div>
{% endblock %}