{% extends 'RestaurantBundle::frame.html.twig' %}
{% block title %} Restaurant {% endblock %}
{% block body %}
    <div class='container global-container'>
        <div class="row">
            Hello lolo!
        </div>        
    </div>
{% endblock %}

