{% extends 'AdminBundle::frame.html.twig' %}
{% block title %} Home {% endblock %}
{% block body %}  
    <div class="container global-container">
        <div class="row">
            <div class="jumbotron ">
                <h2>Manage</h2>
                <p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id.</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Read more</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-1">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        The Penthouse Den Haag
                    </a>
                    <a href="#" class="list-group-item">I want to open the day</a>
                    <a href="#" class="list-group-item">I want to close the session (Reception)</a>
                    <a href="#" class="list-group-item">I want to manage today (Hotel)</a>
                    <a href="#" class="list-group-item">I want to close the night (Kitchen)</a>
                    <a href="#" class="list-group-item">I want to close the night (Service)</a>
                    <a href="#" class="list-group-item">Aanvraagformulier Aankoop Non-Food</a>
                </div>
                
            </div>
            <div class="col-md-4 col-sm-1">
                 <div class="list-group">
                    <a href="#" class="list-group-item active">
                        Management
                    </a>
                    <a href="#" class="list-group-item">I want to give input to tommorrow's daily meeting</a>
                    <a href="#" class="list-group-item">Meeting Notes What's On</a>
                    <a href="#" class="list-group-item">Turnover</a>
                    <a href="#" class="list-group-item">Check</a>
                    <a href="#" class="list-group-item">Kasboek The Penthouse</a>
                    <a href="#" class="list-group-item">2503 Overzicht The Penthouse</a>
                    <a href="#" class="list-group-item">Kasoek Blue Group Hotel</a>
                </div>                
            </div>

            <div class="col-md-4  col-sm-1">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        HR Formulieren
                    </a>
                    <a href="#" class="list-group-item">Aanmeden nieuwe werknemer</a>
                    <a href="#" class="list-group-item">Wijziging gegevens werknemer</a>
                    <a href="#" class="list-group-item">Ziekmelding</a>
                    <a href="#" class="list-group-item">Betermelding</a>
                </div>      
                
            </div>
        </div>
    </div>


{% endblock %}