{# empty Twig template #}
{% extends 'AdminBundle::base.html.twig' %}
{% block title %}Login{% endblock %}
{% block id 'user' %}
    {% block body %}
        <div id="intro">
            <div class="intro-text">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="brand">
                                <h1><a href="#">Manage</a></h1>
                                <div class="line-spacer"></div>
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-10">
                                        {% if error %}
                                            <strong class="text-danger">{{error.message}}</strong>
                                        {% endif %}
                                        <form id="form-login" class="form-horizontal" role="form" action="{{path('login_check')}}" method="POST">
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-8">
                                                    <input type="text" class="form-control" id="email" name="_username" value="{{email}}" placeholder="Email" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-8">
                                                    <input type="password" class="form-control" id="password" name="_password" placeholder="Password" />
                                                </div>
                                            </div>                                            
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-8">
                                                    <button type="submit" class="btn btn-theme btn-lg btn-block">Sign in</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

